$color-cyan: hsl(179, 62%, 43%);
$color-cyan--light: hsl(179, 47%, 52%);
$color-yellow: hsl(71, 73%, 54%);
$color-gray: hsl(204, 43%, 93%);
$color-grayish-blue: hsl(218, 22%, 67%);

@import "./reset";

body {
  font-family: "Karla", sans-serif;
  min-height: 100vh;
  background-color: $color-gray;
  padding: 2.25em 1em;
  display: grid;
  place-items: center;
}

h2 {
  font-size: 1.125rem;
  margin-bottom: 0.875em;
  color: white;
}

.main {
  width: 100%;
  max-width: 630px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0.5rem 1.75rem rgba(#000, 0.1);
}

.description {
  grid-column: 1 / -1;
  background-color: white;
  padding: 2.25em 2em;

  h1 {
    font-size: 1.5rem;
    font-weight: 700;
    color: $color-cyan;
    margin-bottom: 0.75em;
  }

  .paragraph {
    color: $color-grayish-blue;

    &--yellow {
      color: $color-yellow;
      font-weight: 700;
      margin-bottom: 0.5em;
      font-size: 1.125rem;
    }
  }
}

.cta {
  background-color: $color-cyan;
  color: white;
  padding: 2em;
}

.pricing {
  display: flex;
  align-items: center;
  gap: 0.875em;

  .paragraph {
    color: $color-gray;
  }
}

.price {
  font-size: 2.25rem;
  font-weight: 700;
}

.btn {
  display: block;
  margin-top: 2em;
  width: 100%;
  border: none;
  font: inherit;
  padding: 0.875em;
  font-weight: 700;
  text-align: center;
  color: white;
  background-color: $color-yellow;
  border-radius: 6px;
  box-shadow: 0 0.5rem 1.75rem rgba(#000, 0.1);
  cursor: pointer;
}

.features {
  background-color: $color-cyan--light;
  padding: 2em;

  &__list {
    list-style: none;
  }

  &__item {
    color: $color-gray;
  }
}

@media (max-width: 39.75em) {
  .main {
    max-width: 400px;
  }
}
